
/* .nav {
background-color: #020202; }
/* Change this to your desired color */
/*  
.navbar-search {
margin-right: 0;
}

.navbar-search-btn {
margin-right: 10px; 
} */
/* Or adjust the value as needed */
